.mode {
  display: none;
}
#Homepage {
display: flex;
align-items: center;
}

#Homepage {
  display: flex;
  align-items: center;
}

#Homepage .play {
  padding: 1em;
  width: 100px;
  border-radius: 10px

}

#Home {
  position: absolute;
  top: 10px;
  left: 10px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.frontpage-container {
  background: linear-gradient(180deg, #212529, #343a40, #495057, #212529);
  min-height: 100vh;
}

.logo-container {
    margin-left: 1em;
    padding: .5em;
    display: flex;
    align-items: center; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }

.group-logo {
    height: 35px;
    margin-right: 10px; 
  }
  

  .title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: white;
    font-size: 71px;
    margin: 0px 1em 1em 1em; 
    font-family: Arial, Helvetica, sans-serif;
}

.title h1 {
    margin: 0;
}

.logo-1 {
    border-radius: 100%;
    height: 60vh;
    margin-right: 5em;
}

#Homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modes-container {
  display: flex;
  align-items: center;
  flex-direction: row; 
}

.button,
#Play {
  padding: 1em;
  width: 400px;
  border-radius: 100px;
  margin: -20px 10px 20px; 
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add color transition */
  background-color: #212529;
  color: white;
  border: 2px solid white;
}

.button:hover, #Play:hover {
  background-color: black; 
  color: white; 
}

#Play {
  margin-top: -60px;
  margin-bottom: 30px;
  height: 80px !important;
  width: 400px !important;
  border-radius: 100px !important;
}

.button:focus,
#Play:focus {
  background-color: white;
  color: black;
  outline: none; 
}

p#points {
  position: static ;
  left: 62%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #212529;
  color: white;
  border: 2px solid white;
  text-align: center;
  width: 200px;
  border-radius: 5px;
  margin-left: 20px;
  
}
#ans {
  position:static;
  right: 62%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  background-color: #212529;
  color: yellow;
  border: 2px solid white;
  text-align: center;
  width: 350px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 70px !important;
}
